<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.birt.eclipse.org/ChartModelAttribute"
            class="org.eclipse.birt.chart.model.attribute.AttributePackage"
            genModel="model/DonutSeries.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="attribute"
            class="org.eclipse.birt.chart.model.attribute.util.AttributeResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.birt.eclipse.org/ChartModelData"
            class="org.eclipse.birt.chart.model.data.DataPackage"
            genModel="model/DonutSeries.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="data"
            class="org.eclipse.birt.chart.model.data.util.DataResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.birt.eclipse.org/ChartModelType"
            class="org.eclipse.birt.chart.model.type.TypePackage"
            genModel="model/DonutSeries.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="type"
            class="org.eclipse.birt.chart.model.type.util.TypeResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.birt.eclipse.org/ChartModelComponent"
            class="org.eclipse.birt.chart.model.component.ComponentPackage"
            genModel="model/DonutSeries.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="component"
            class="org.eclipse.birt.chart.model.component.util.ComponentResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.birt.eclipse.org/ChartModelLayout"
            class="org.eclipse.birt.chart.model.layout.LayoutPackage"
            genModel="model/DonutSeries.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="layout"
            class="org.eclipse.birt.chart.model.layout.util.LayoutResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.birt.eclipse.org/ChartModel"
            class="org.eclipse.birt.chart.model.ModelPackage"
            genModel="model/DonutSeries.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="model"
            class="org.eclipse.birt.chart.model.util.ModelResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.birt.eclipse.org/ChartModelDonutSeries"
            class="org.eclipse.birt.chart.model.donut.series.SeriesPackage"
            genModel="model/DonutSeries.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="series"
            class="org.eclipse.birt.chart.model.donut.series.util.SeriesResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.birt.chart.engine.modelrenderers">
      <modelRenderer
            renderer="org.eclipse.birt.chart.donut.render.Donut"
            series="org.eclipse.birt.chart.model.donut.series.impl.DonutSeriesImpl">
      </modelRenderer>
   </extension>
   <extension
         point="org.eclipse.birt.chart.engine.datasetprocessors">
      <datasetProcessor
            processor="org.eclipse.birt.chart.datafeed.DataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.donut.impl.DonutSeriesImpl">
      </datasetProcessor>
   </extension>

</plugin>
