<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="org.eclipse.birt.newcharts">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="org.eclipse.birt.newcharts"
            class="org.eclipse.birt.newcharts.views.NewChartView"
            id="org.eclipse.birt.newcharts.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.birt.chart.engine.modelrenderers">
      <modelRenderer
            renderer="org.eclipse.birt.chart.newtype.render.Donut"
            series="DonutSeriesImpl"></modelRenderer>
   </extension>
   <extension
         point="org.eclipse.birt.chart.engine.datasetprocessors">
      <datasetProcessor
            processor="org.eclipse.birt.chart.datafeed.DataSetProcessorImpl"
            series="DonutSeriesImpl">
      </datasetProcessor>
   </extension>

</plugin>
